/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}
/* убираем некоторые особенности в разных браузерах
  специфический псевдоэлемент */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
/* специфический псевдоэлемент */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  --color1: #ffdda0;
  --color2: rgba(255, 255, 255, 0.7);
  --color3: #dfc28c;
}
/* универсальные классы */
body {
  overflow-x: hidden;
}
.display__2 {
  font-size: 144px;
  font-weight: 400;
  letter-spacing: 25.92px;
}
.caption__1 {
  font-size: 18px;
  font-weight: 600;
}
.sub__header {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}
.sub__header-2 {
  font-size: 18px;
  font-weight: 400;
}
.header__1 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
}
.body__1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.border {
  border: 2px solid rgb(114, 114, 5);
  outline: 2px solid rgb(114, 114, 5);
}

/* header */

.header__img {
  background-color: black;
  background-image: url(./img/header/header\ Background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1439px;
  margin: 0 auto;
}
.container__row {
  display: flex;
  align-items: flex-start;
}
.header__menu-left {
  width: 175px;
  padding: 54px 18px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__left-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--color1);
  margin-bottom: 178px;
  text-align: center;
}
.header__left-name::first-letter {
  text-transform: capitalize;
}
.circles__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
  margin-bottom: 143px;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 43px;
  border: 1px solid #ffdda0;
}
.point {
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.7);
}
.header__left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 44px;
  margin-right: -10px;
}
.header__left-footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transform: rotate(-90deg);
  text-transform: uppercase;
}
/* right */
.content__container {
  width: 100%;
  border-left: 1px solid #fff;
  padding: 46px 0px 183px 26px;
}
.header__menu-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 49px;
  margin-bottom: 103px;
}
.header__menu-right nav {
  display: flex;
  column-gap: 55px;
}
nav .caption__1 {
  color: var(--color2);
  text-transform: capitalize;
}
.secondary__btn-2 {
  padding: 7px 33px;
  border-radius: 5px;
  border: 1px solid #ffdda0;
  background-color: black;
  text-transform: capitalize;
  color: #fff;
}
.header__right-title {
  margin-bottom: 20px;
}
.header__right-title .sub__header {
  line-height: 140.875%;
}
.header__right-title .header__1 {
  line-height: 140.875%;
}
.header__right-title .header__1::first-letter {
  text-transform: capitalize;
}
.header__right-text {
  color: #fff;
  max-width: 602px;
  line-height: 160%;
  margin-bottom: 94px;
}
.header__right-text::first-letter {
  text-transform: capitalize;
}
.header__btns {
  display: flex;
  column-gap: 65px;
}
.primary__btn {
  padding: 9px 40px;
  border-radius: 5px;
  background: #9b7a3e;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.primary__btn img {
  margin-left: 27px;
}
.secondary__btn {
  padding: 9px 42px;
  border: 0.807px solid #fff;
  border-radius: 4px;
  background: black;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.burger__menu {
  display: none;
}
@media (max-width: 1365px) {
  .header__img {
    max-width: 1021px;
    background-size: contain;
  }
  .container {
    max-width: 1021px;
  }
}
@media (max-width: 1030px) {
  .content__container {
    padding: 46px 0px 105px 26px;
  }
}
@media (max-width: 933px) {
  .header__menu-left {
    display: none;
  }
  .content__container {
    border-left: none;
    padding: 46px 0px 77px 15px;
  }
  .header__right-title .sub__header {
    font-size: 18px;
  }
  .header__right-title .header__1 {
    font-size: 35px;
  }
  .header__right-text {
    font-size: 14px;
    margin-bottom: 50px;
  }
}
@media (max-width: 675px) {
  .container {
    overflow: hidden;
  }
  .content__container {
    border-left: none;
    padding: 60px 0px 77px 15px;
  }
  .header__img {
    background-image: none;
  }
  .header__btns {
    column-gap: 30px;
  }
  .primary__btn {
    padding: 9px 12px;
  }
  .primary__btn img {
    margin-left: 17px;
  }
  .secondary__btn {
    padding: 9px 12px;
  }
  /* burger */
  .header__menu-right {
    display: none;
    flex-direction: column;
    margin-bottom: 0px;
    row-gap: 55px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  .header__menu-right nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 41px;
  }
  .burger {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 16px;
    height: 18px;
    cursor: pointer;
  }
  .burger div {
    height: 3px;
    background-color: #9b7a3e;
    border-radius: 13px;
  }
  .burger div:first-child {
    width: 27px;
  }
  .burger div:nth-child(2) {
    width: 20px;
  }
  .burger div:last-child {
    width: 12px;
  }

  .burger__menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.933);
    padding-top: 16px;
    padding-left: 14px;
  }
  .burger__header {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .burger__title {
    color: var(--color1);
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .burger__close {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    bottom: 8px;
  }
}
@media (max-width: 480px) {
  .burger {
    right: 15px;
  }
  .header__right-title .header__1 {
    font-size: 30px;
  }
  .primary__btn {
    font-size: 14px;
    white-space: nowrap;
  }
  .primary__btn img {
    margin-left: 10px;
    width: 25px;
  }
  .secondary__btn {
    font-size: 14px;
  }
  .header__btns {
    column-gap: 30px;
  }
  .content__container {
    padding: 60px 0px 77px 5px;
  }
}
/* powered by */
.gradient {
  background-image: radial-gradient(
    103.78% 43.39% at 50% 42.4%,
    #2c2923 0%,
    #000 100%
  );
}
.powered__by {
  display: flex;
  justify-content: flex-start;
}
.main__left-container {
  width: 178px;
}
.main__right-container {
  width: 100%;
  border-left: 1px solid #fff;
  padding: 39px 0px 0px 29px;
}
.powered__row {
  display: flex;
  align-items: center;
  column-gap: 35px;
  margin-bottom: 19px;
}
.powered__row .header__1::first-letter {
  text-transform: capitalize;
}
.powered__row .sub__header {
  color: var(--color3);
  margin-right: 8px;
}
.powered__row div {
  display: flex;
  align-items: center;
}
.powered__row .sub__header::first-letter {
  text-transform: capitalize;
}
.components__container {
  display: flex;
  justify-content: flex-end;
  height: 138px;
  margin-top: 67px;
  margin-bottom: 39px;
}
.components__block {
  max-width: 811px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.02) 26.31%,
    rgba(255, 255, 255, 0.08) 57.91%,
    rgba(255, 255, 255, 0.12) 95.78%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 30px 136px 30px 136px;
  column-gap: 109px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 0.5;
}
.components__item-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.components__item-column .sub__header {
  font-weight: 400;
  line-height: 26px;
}
.components__item-column .sub__header-2 {
  color: rgba(255, 255, 255, 0.6);
  line-height: 35px;
}
.design {
  position: relative;
  margin-bottom: 53px;
}
.design .display__2 {
  color: #b49e76;
  text-transform: capitalize;
  opacity: 0.2;
}
.design .header__1 {
  position: absolute;
  bottom: 10px;
}
.design .header__1::first-letter {
  text-transform: capitalize;
}
.power__suply {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
  margin-bottom: 91px;
}
.power__suply img {
  position: relative;
  top: 25px;
}
.power__suply p:nth-child(2) {
  margin-bottom: 21px;
}
.power__suply .sub__header {
  line-height: 33.6px;
  text-transform: uppercase;
}
.power__suply .body__1 {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20.56px;
}
.ground__breaking-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-bottom: 57px;
}
.ground__breaking {
  text-align: left;
}
.ground__breaking .header__1 {
  line-height: normal;
}
.ground__breaking .header__1::first-letter {
  text-transform: capitalize;
}
.ground__breaking .body__1 {
  color: rgba(255, 255, 255, 0.6);
  line-height: 160%;
  max-width: 604px;
}
.ground__breaking .body__1::first-letter {
  text-transform: capitalize;
}
@media (max-width: 1030px) {
  .main__right-container {
    padding: 0px 0px 0px 29px;
  }
  .powered__row {
    margin-bottom: 15px;
  }
  .powered__row .header__1 {
    font-size: 24px;
  }
  .powered__row .sub__header {
    font-size: 18px;
  }
  .components__block {
    column-gap: 70px;
  }
  .design {
    margin-bottom: 34px;
  }
  .design .display__2 {
    font-size: 85px;
    letter-spacing: 14.8px;
  }
  .design .header__1 {
    font-size: 24px;
    bottom: 8px;
  }
  .power__suply {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
    position: relative;
  }
  .suply__img-container {
    height: 215px;
  }
  .power__suply img {
    position: absolute;
    top: 100px;
    right: 0px;
  }
  .power__suply .sub__header {
    line-height: 25.2px;
    font-size: 18px;
  }
  .power__suply .body__1 {
    font-size: 14px;
    line-height: 16.41px;
  }
  .ground__breaking-column {
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 41px;
  }
  .ground__breaking .header__1 {
    font-size: 24px;
    margin-bottom: 13px;
  }
}
@media (max-width: 933px) {
  .main__left-container {
    display: none;
  }
  .main__right-container {
    border-left: none;
    padding: 0px 0px 0px 15px;
  }
  .components__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 34px;
  }
  .components__block {
    max-width: initial;
    width: 100%;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.12) 44.49%,
      rgba(255, 255, 255, 0) 114.16%
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    column-gap: 0px;
    row-gap: 30px;
    border-radius: 0px;
  }
}
@media (max-width: 675px) {
  .power__suply img {
    top: 120px;
    right: -125px;
  }
  .line__height {
    line-height: 160%;
  }
}
@media (max-width: 480px) {
  .main__right-container {
    padding: 0px 0px 0px 5px;
    overflow: hidden;
  }
  .powered__row {
    column-gap: 35px;
  }
  .powered__row .header__1 {
    font-size: 22px;
  }
}
/* titan v */

.titan__v {
  display: flex;
  justify-content: flex-start;
}
.characteristics__relative {
  position: relative;
}
.titan__v-characteristics {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  height: 162px;
  width: 810px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 13.82%,
    rgba(255, 255, 255, 0.04) 53.43%,
    rgba(255, 255, 255, 0) 95.95%
  );
}
.characteristics__left {
  width: 177px;
}
.characteristics__right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 32px 63px 32px 29px;
  column-gap: 93px;
}
.right__item-column {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.characteristics__right .sub__header-2 {
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
}
.titan__v .main__right-container {
  position: relative;
}
.rotate {
  position: absolute;
  top: 31%;
  right: -34%;
  color: #b49e76;
  opacity: 0.15;
  transform: rotate(90deg);
  letter-spacing: 12px;
}
.rotate::first-letter {
  text-transform: capitalize;
}
.titan__learn-more {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 138px;
  margin-bottom: 196px;
  margin-top: 401px;
}
.titan__learn-more .header__1 {
  letter-spacing: 0.72px;
  line-height: 70px;
}
.titan__learn-more .header__1::first-letter {
  text-transform: capitalize;
}
.titan__learn-more .body__1 {
  line-height: 17px;
  opacity: 0.6;
  max-width: 391px;
}
.learnMore__right-bottom {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.learnMore__right-bottom .sub__header {
  color: var(--color3);
  margin-right: 7px;
}
.learnMore__right-bottom .sub__header::first-letter {
  text-transform: capitalize;
}
@media (max-width: 1365px) {
  .rotate {
    display: none;
  }
  .titan__learn-more .header__1 {
    letter-spacing: 0.72px;
    line-height: 55px;
  }
}
@media (max-width: 1030px) {
  .titan__learn-more {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 35px;
    margin-bottom: 34px;
    margin-top: 201px;
  }
  .titan__learn-more .header__1 {
    letter-spacing: 0.36px;
    line-height: normal;
    margin-bottom: 15px;
    font-size: 24px;
  }
}
@media (max-width: 933px) {
  .titan__v .main__left-container {
    display: flex;
    width: 0px;
  }
  .titan__v-characteristics {
    width: 480px;
  }
  .characteristics__right {
    padding: 32px 63px 32px 29px;
  }
  .characteristics__right .sub__header {
    font-size: 18px;
    white-space: nowrap;
  }
  .characteristics__right .sub__header-2 {
    font-size: 14px;
    white-space: nowrap;
  }
  .titan__learn-more img:first-child {
    width: 430px;
  }
  @media (max-width: 480px) {
    .titan__v-characteristics {
      width: 380px;
    }
    .characteristics__right {
      padding: 32px 63px 32px 29px;
      column-gap: 30px;
    }
    .titan__learn-more img:first-child {
      width: 380px;
    }
  }
}
/* gallery */
.gallery {
  position: relative;
  margin-bottom: 35px;
}
.gallery .display__2 {
  color: #b49e76;
  text-transform: capitalize;
  opacity: 0.2;
  line-height: 211px;
}
.gallery__text {
  position: absolute;
  bottom: 45px;
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 11.2px;
  text-transform: capitalize;
}
.gallery__row {
  display: flex;
  align-items: center;
  column-gap: 22px;
  margin-bottom: 121px;
}

.row__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.row__right-img {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.row__right-img span {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.gallery__circles-row {
  display: flex;
  align-items: center;
  column-gap: 27px;
}
.gallery__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0.5px solid #ffdda0;
}
.gallery__point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}
.js__close-img {
  display: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 1365px) {
  .gallery__row {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 15px;
  }
}
@media (max-width: 1030px) {
  .gallery .display__2 {
    line-height: 120px;
    letter-spacing: 14.35px;
    font-size: 82px;
  }
  .gallery__text {
    bottom: 28px;
    font-size: 24px;
    letter-spacing: 4.2px;
  }
}
@media (max-width: 933px) {
  .gallery__row {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
  }
}
@media (max-width: 675px) {
  .gallery__row {
    position: relative;
    margin-bottom: 43px;
  }
  .row__left img {
    position: absolute;
    width: 259px;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .row__right-img {
    column-gap: 12px;
  }
  .row__right-img img {
    width: 121px;
  }
  .row__right-img span {
    font-size: 18px;
  }
  .row__left {
    display: none;
    position: relative;
  }
  .js__close-img {
    display: flex;
    position: absolute;
    top: -30px;
    right: -115px;
  }
}
@media (max-width: 480px) {
  .row__right-img img {
    width: 95px;
  }
  .row__left img {
    width: 230px;
  }
  .js__close-img {
    top: -30px;
    right: -105px;
  }
}
/* footer */
.footer__row {
  display: flex;
  justify-content: flex-start;
  border-top: 0.5px solid rgba(223, 194, 140, 0.5);
}
.footer__row .main__left-container {
  padding: 35px 18px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 44px;
  margin-right: -10px;
}
.footer__main-left div {
  transform: rotate(180deg);
}
.footer__main-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transform: rotate(270deg);
  text-transform: uppercase;
}
.footer__row .main__right-container {
  padding: 35px 100px 109px 29px;
  display: flex;
  width: 100%;
}
.footer__block {
  display: flex;
  width: 100%;
}
.footer__column {
  margin-right: 86px;
}
.margin__none {
  margin-right: 0px;
}
.footer__column .column__title {
  margin-bottom: 18px;
}
.column__title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.82px;
  text-transform: uppercase;
}
.column__text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.4;
  text-transform: capitalize;
  white-space: nowrap;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: flex-end;
  flex-grow: 1;
}
.footer__img-row {
  margin-top: 22px;
  margin-bottom: 29px;
  display: flex;
  column-gap: 32px;
}

.footer__right-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.active {
  display: flex;
}
@media (max-width: 1365px) {
  .footer__column {
    margin-right: 28px;
  }
  .footer__img-row {
    column-gap: 15px;
  }
  .footer__right-text {
    display: none;
  }
}
@media (max-width: 933px) {
  .footer__row .main__left-container {
    display: none;
  }
  .footer__row .main__right-container {
    padding: 42px 44px 45px 15px;
  }
}
@media (max-width: 675px) {
  .footer__row .main__right-container {
    column-gap: 125px;
  }
  .footer__block {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
  }

  .footer__column {
    margin-right: 0px;
  }

  .footer__column .column__title {
    margin-bottom: 13px;
  }
  .column__title {
    font-size: 18px;
    letter-spacing: 2.34px;
  }
  .column__text {
    font-size: 14px;
    line-height: 220%;
    opacity: 0.6;
  }
  .footer__right .column__title {
    display: none;
  }
  .footer__img-row {
    margin-top: 0px;
    column-gap: 45px;
    row-gap: 23px;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer__row .main__right-container {
    column-gap: 80px;
  }
  .column__title {
    font-size: 16px;
    letter-spacing: 2.34px;
  }
}

/* проверили на айфоне, вначале был прокрут(убрал засчет уменьшения ширины контейнера + overflow hidden),
после часть контента не видно */
